@font-face {
  font-family: "Mayson";
  src: url("/public/textType/text/MaisonNeue-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "Mayson";
  src: url("/public/textType/text/MaisonNeue-Book.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Mayson", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  background-color: #fafafa;
  background-image: linear-gradient(315deg, #7f5a83 0%, black 74%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
